<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564867256057-3qt94b16dp15pa254blcfp87ad6atcdg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564867256057-3qt94b16dp15pa254blcfp87ad6atcdg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>564867256057-5ds59b1l3v65ge7t8ha5g6v0lvlj8lg0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBHv_myRRPBvx0vC_zn1RiU_5BHc_Q06Yc</string>
	<key>GCM_SENDER_ID</key>
	<string>564867256057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.letstalk</string>
	<key>PROJECT_ID</key>
	<string>chattingapp-34d8a</string>
	<key>STORAGE_BUCKET</key>
	<string>chattingapp-34d8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564867256057:ios:56c3cbefbfe42e345e1c28</string>
</dict>
</plist>